
*.xcuserstate

de.betaradion.biosearcher.ios/bioSearcher.xcodeproj/project.xcworkspace/xcuserdata/**

de.betaradion.biosearcher.ios/bioSearcher.xcodeproj/project.xcworkspace/xcuserdata/yannick.xcuserdatad/UserInterfaceState.xcuserstate
