
*.xcuserstate

de.betaradion.biosearcher.ios/bioSearcher.xcodeproj/project.xcworkspace/xcuserdata/**

*.xcworkspacedata

de.betaradion.biosearcher.ios/bioSearcher.xcodeproj/project.xcworkspace/project.xcworkspace

de.betaradion.biosearcher.ios/bioSearcher.xcodeproj/project.xcworkspace/xcshareddata/bioSearcher.xccheckout

de.betaradion.biosearcher.ios/bioSearcher.xcodeproj/xcuserdata/Yannick.xcuserdatad/xcschemes/bioSearcher.xcscheme

de.betaradion.biosearcher.ios/bioSearcher.xcodeproj/xcuserdata/Yannick.xcuserdatad/xcschemes/xcschememanagement.plist
